.Label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.Form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 250px;
  padding: 20px;
}

.Input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
}

.Input:hover,
.Input:focus {
  border: 1px solid pink;
}

.NameBtn {
  padding: 5px 15px;
  margin: 10px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.NameBtn:hover,
.NameBtn:focus {
  background-color: pink;
}
