.Item {
  list-style: none;
  text-align: center;
  display: flex;
}

.List {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Text {
  margin-right: 10px;
}

.Btn {
  padding: 5px 15px;
  margin: 10px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.Btn:hover,
.Btn:focus {
  background-color: pink;
}
