.Container {
  display: flex;
  align-items: center;
}

.Avatar {
  width: 32px;
  margin-right: 4px;
}

.Name {
  font-weight: 700;
  margin-right: 12px;
}

.Btn {
  background-color: blueviolet;
  color: #000;
}

.Btn:hover {
  color: #fff;
}
